<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>


    <!-- Profile Payload Content -->
    <key>PayloadContent</key>
    <array>
        <dict>

            <!-- com.apple.mobiledevice.passwordpolicy -->
            <key>allowSimple</key>
            <{{ macos_profile__passwordpolicy_allowSimple }}/>
            <key>forcePIN</key>
            <{{ macos_profile__passwordpolicy_forcePIN }}/>
            <key>maxPINAgeInDays</key>
            <integer>{{ macos_profile__passwordpolicy_maxPINAgeInDays }}</integer>
            <key>minComplexChars</key>
            <integer>{{ macos_profile__passwordpolicy_minComplexChars }}</integer>
            <key>minLength</key>
            <integer>{{ macos_profile__passwordpolicy_minLength }}</integer>
            <key>requireAlphanumeric</key>
            <{{ macos_profile__passwordpolicy_requireAlphanumeric }}/>
            <key>pinHistory</key>
            <integer>{{ macos_profile__passwordpolicy_pinHistory }}</integer>

            <!-- Payload Information -->
            <key>PayloadDisplayName</key>
            <string>Password Settings</string>
            <key>PayloadEnabled</key>
            <true/>
            <key>PayloadIdentifier</key>
            <string>4CD51F1D-2B8F-44F5-A147-4F249D9ADDD0</string>
            <key>PayloadType</key>
            <string>com.apple.mobiledevice.passwordpolicy</string>
            <key>PayloadUUID</key>
            <string>37D41793-9CF8-42C2-999A-F8C69AF59825</string>
            <key>PayloadVersion</key>
            <integer>1</integer>


        </dict>
    </array>


    <!-- Profile Description -->
    <key>PayloadDescription</key>
    <string>{{ macos_profile__passwordpolicy_PayloadDescription }}</string>
    <key>PayloadDisplayName</key>
    <string>{{ macos_profile__passwordpolicy_PayloadDisplayName }}</string>
    <key>PayloadUUID</key>
    <string>71306EA2-BA31-4364-8919-6E5A3942A8D4</string>


    <!-- Organisation Information (Identical for every Profile) -->
    <key>PayloadEnabled</key>
    <true/>
    <key>PayloadIdentifier</key>
    <string>{{ macos_profile__profile }}</string>
    <key>PayloadOrganization</key>
    <string>{{ macos_profile__PayloadOrganization }}</string>
    <key>PayloadRemovalDisallowed</key>
    <{{ macos_profile__PayloadRemovalDisallowed }}/>
    <key>PayloadScope</key>
    <string>System</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadVersion</key>
    <integer>1</integer>


</dict>
</plist>
