<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>


    <!-- Profile Payload Content -->
	<key>PayloadContent</key>
	<array>

        <!-- SoftwareUpdate -->
		<dict>
			<key>AllowPreReleaseInstallation</key>
            <{{ macos_profile__AllowPreReleaseInstallation }}/>
			<key>CatalogURL</key>
			<string>{{ macos_profile__CatalogURL }}</string>

            <!-- Payload Information -->
			<key>PayloadDescription</key>
			<string></string>
			<key>PayloadDisplayName</key>
			<string>Software Update</string>
			<key>PayloadEnabled</key>
			<true/>
			<key>PayloadIdentifier</key>
			<string>5677785D-29FC-44EF-AEB8-D716788C0331</string>
			<key>PayloadOrganization</key>
			<string>{{ macos_profile__PayloadOrganization }}</string>
			<key>PayloadType</key>
			<string>com.apple.SoftwareUpdate</string>
			<key>PayloadUUID</key>
			<string>8C25C59F-BFB4-4441-B209-F632C8515944</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
	</array>


    <!-- Profile Description -->
	<key>PayloadDescription</key>
	<string>{{ macos_profile__softwareupdate_PayloadDescription }} </string>
	<key>PayloadDisplayName</key>
	<string>{{ macos_profile__softwareupdate_PayloadDisplayName }}</string>
	<key>PayloadUUID</key>
	<string>2F07CFFD-A746-4DD2-8F66-F6EB359A1D63</string>


    <!-- Organisation Information (Identical for every Profile) -->
	<key>PayloadEnabled</key>
	<true/>
	<key>PayloadIdentifier</key>
    <string>{{ macos_profile__profile }}</string>
	<key>PayloadOrganization</key>
	<string>{{ macos_profile__PayloadOrganization }}</string>
	<key>PayloadRemovalDisallowed</key>
	<{{ macos_profile__PayloadRemovalDisallowed }}/>
	<key>PayloadScope</key>
	<string>System</string>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadVersion</key>
	<integer>1</integer>


</dict>
</plist>
